# Entorno virtual
venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# Backups
*.backup
*_backup*
*.bak

# Archivos comprimidos
*.zip
*.rar
*.7z

# Temporales
*.tmp
*.log
